# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.vscode/
*.swp
*~

# System files
Thumbs.db

# Logs
*.log

# Project artifacts
.thumbnail
public/uploads/
.vercel
.env*

# Dependencies
node_modules/
